<template>
  <div class="navbar">
    <nav class="deep-purple darken-1">
      <div class="container">
          <ul class="left">
          <li><a href="" class="brand-logo ">  </a></li>
          
          </ul> 
          <ul class="right">
            <li><a href=""></a></li>
            <li><a href="">Login</a></li>
          </ul> 
      </div>
    </nav> 
  </div>
</template>

<script>
export default {
  name: 'Navbar',
  data(){
    return{
    }
  }
}
</script>

<style>
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 62px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
</style>