<template>

<body>
<div class="container">
    <div class="card">
        <ul  class="browser-default">

          <p>My name is  Rémi, I look for a Python developer position. 
            I am open to software development,  
            data Scientist or   data Engineer  responsibilities. </p>
          
          <p> 
          Through my work experiences and my interest for coding, 
          I developed a strong competence and interest in dealing with data. 
          I extract, structure, compute, analyse, integrate 
          and report all kind of data. For these purposes I  build micro services,
          and tools. 
          </p>

          <p> 
          I enjoy working on challenging problems. The ones that need new analytical methods, 
          new computing approaches. I like trying , testing and tuning solutions.

          As a French person living and working in Germany since more than 8 years . 
          I collaborated most of the time with people coming from different cultures 
          and backgrounds. I enjoy such working environment.
          </p>

          <p>
            <strong>
            If I can bring value to your project with my coding skills , 
            I would love to connect with you.
            </strong>
          </p>
         
        </ul>
    </div>

   <div class="card">
      <h3>Professional Experience</h3>

      <h4 id="company-name"> <a href="https://www.akka-technologies.com/about-us/"> AKKA Technologies  </a> </h4>
      <p id="job-title"><strong> Graduate International Consultant :  </strong></p>
      
        <ul  class="browser-default" >
          <li>Prototyping software component in Python  </li>
          <li>Improving software component in Python </li>
          <li>Contribute ideas to the team on how customers can be delighted</li>
        </ul>

        <p> Some of my projects :  </p>
          <ul class="browser-default">
            <li> An automation of  sensors calibrations :  with Raspberry Pi via canbus. 
              For this project I use ubuntu mate , python canbus library for the data streaming. Data
              stored as csv file, then process for building a pdf report that  is sent.
            </li>
          
            <li>  Scenario based testing for Autonomous driving ( Carla Simulator / Reinforcement Learning).
              Generation of driving scenario for testing autonomous driving agent . We use Carla
              Simulator , Unreal4, Open Drive , TensorFlows and Keras.
              It is a pilot/ research project that consists of finding and replicate driving scenario in Carla Simulator. Taks are : 
              controlling the actors via Python API and integrating maps and building into Unreal Engine but also 
              finding and generating difficult scenarios for ADAS.
            </li> 

         </ul> 

     <h4 id="company-name"> <a href="https://www.contorion.de/">Contorion GmbH </a>  </h4>

     
     <p id="job-title"><strong> Junior  Python Software Developper:  </strong></p>
     <ul class="browser-default">
        <li> Software Development </li>
     </ul>
     <p>  Some of my projects : </p> 
      <ul class="browser-default">  
        <li>  Django project: web application for “monitoring” remote QA machines. I wrote the backend ,
          the frontenand  and the deployment script. ​ nice trick : ​ For the backend, Python scripts are via ssh
          piped and then run on the QA remote machines. Very convenient because the project needed to
          be deployed only one machine for monitoring all the remote machines . </li>

          <li> Scrapy Project : Scraping project that scrapes prices and product data of 50 k sku on
          amazon on a daily basis. ​ nice features : Free ip addresses with an opened port are first
          scraped and then use for scraping</li> 
      </ul>

      
      <a href="https://drive.google.com/file/d/1FiAuv0O4hfokjjSOVCpGk3cq_V_ZRUda/view"  id="course-name"> See my work references  </a> 
      ( password : square root of 9 , enter as one number)

    </div >
   
  <div class="card"> 
    <h3>Educational Qualifications</h3>
    <table>
      <tr id="heading">
        <td>Qualification</td>
        <td> focus </td>
        <td>institution</td>
        <td>Year</td>
      </tr>
        <tr>
        <td>Master in Mathematics</td>
        <td> Probabilities / Stochstic Process </td>
        <td>Freie University Berlin </td>
        <td>  !!! still open !!!  </td>
      </tr>
      <tr>
        <td>Bachelor in Mathematics</td>
        <td> Probabilities / Stochstic Process </td>
        <td>Freie University Berlin </td>
        <td>2016</td>
      </tr>
      <tr>
        <td>Master in  Economics </td>
        <td> Energy / Enviromment Ecomoics  </td>
        <td>Paris 1  Sorbonne  / IFP School  </td>
        <td>2006</td>
      </tr>
    </table>

    <h4>  <a href="">Online Courses :  </a> </h4>
      <p> I like learning  new tech  online . </p>
      <ul>
        <li>
          <a href="  https://www.udemy.com/course/ros-for-beginners/"  id="course-name">ROS for beginners, </a>
          <a href="https://www.udemy.com/certificate/UC-4e89adcc-e792-42ef-9dff-6f15a748e730/"  >See credential  </a>
        </li>
        
        <li>
          <a href="https://www.udemy.com/course/vim-commands-cheat-sheet/" id="course-name"> VIM Masterclass, </a>
          <a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-5E5HQ39N.pdf">See credential  </a>
        </li>

        <li>
           <a href="https://www.udemy.com/course/learn-docker/" id="course-name"> Docker for beginners, </a>
          <a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-E3G1CRP4.pdf" > See credential  </a>
        </li>
      </ul>
  </div>

  <div class="card"> 
      <h3>Technology  Stack : </h3>
        <ul> 
            <ul class="browser-default"> 
              <span id="course-name"> BackEnd :   Python Ecosystem </span> 
              <ul class="browser-default">
                <li> <span id="course-name"> Python :   </span> advanced knowledge </li>
                <li> <span id="course-name">Django / DRF  : </span>  good knowlege </li>
                <li><span id="course-name"> Database : </span> good knowlege  </li>
              </ul>
            </ul> 

        <br>


            <ul class="browser-default" > 
              <span id="course-name"> FrontEnd  : </span> 
              <ul class="browser-default">
                <li>
                  <span id="skill"> Javascript  / ES6 :   </span> good command
                </li>
                 <li>  
                  <span  id="skill">Framework & libraries:  </span> Vue.js , Meterialise , Bootstrap </li>
                <li>
                  <span id="skill">Python  Ecosystem:  </span> Bokeh, Plotly ,Dash 
                </li>
              </ul>
            </ul>  

            <br>

            <ul class="browser-default"> 
              <span id="course-name">  More on Database  /  DevOps  / Cloud  Infrastructure: </span> 
              <ul class="browser-default">
                <li><span id="skill"> Database </span>  </li>
                    <ul class="browser-default">
                        <li> Flavor: Postgres , MySQL ,  Sqlite  </li>
                        <li> ORM :  Django ORM , SQLalchemy   </li>
                        <li> NoSql:  MongoDB , Firestore  </li>                
                    </ul>

                <li><span id="skill">  Deployment  </span>   </li>
                    <ul class="browser-default"> 
                        <li> classic :  NGNIX, GUNICORN, DOCKER </li>
                        <li> cloudbase / SAAS   :   Heroku , Firebase, PythonAnywhere, Mlab  </li>
                    </ul>

              </ul>
            </ul>

        </ul> 
        <span id="course-name">   <a href="https://gitlab.com/remitoudic"> My personal GIT   </a> </span>  

      </div>

    <div class="card"> 
      <h3>Personal Information:</h3>
        <ul class="browser-default">
          <li> <strong> Me:</strong>I am a self learner, who likes  early  tech adoptions.
            Teamwork is important for me.
            I think out of the box with a deeply data driven mindset.
            I understand what bring open source communities and try to support it .  
            I believe in task based roles and complete ownership of work.
            I don't underestimate the importance to fast delivery.  
          </li>
          <li>
            <strong> Languages:</strong> French (Nativ) , German ("C1") , English (working Languages since years)
          </li>
          <li> 
            <strong> Hobbies:</strong>  endurance sports (running , swimming , biking ) 
          </li>
        </ul> 
     
    </div>
    <div class="card"> 
      <h3>  Others  </h3>
          <ul class="browser-default">
              <li>
                <strong> Expected Salary: </strong>  Fair for the industrie  in the country (for germany: 45-55k)
              </li>
                 <strong> Availability:  As soon as possible  </strong> 
              <li>  <strong>   Level "Junior / mid" :  </strong>  
                 !!! Some comments about it !!!  I started to code commercialy  for 6  years as a working student. 
                  I still consider my self as Junior,  It means for me  only that  
                  I need sometime some guidance on design /strategy  what actually do a team Lead. 
              </li> 

              
          </ul>
    </div>
    <p> Declaration : I hereby declare that 
          the details furnished above are 
          true and correct to the best of my 
          knowledge and belief .
    </p>  

    <a href="https://drive.google.com/file/d/1mftdwtQ0k5PUw-oqmEqDeuDEEfB4w2FK/view?usp=sharing" > 
      <strong> My CV as PDF  </strong>   
    </a>  
    
     
</div>  

</body>
</template>

<script>
export default {
  name: 'Resume',
  data(){
    return{
    }
  }
}
</script>

<style>


#name {
    float:left;
	margin-left: 20px;
	padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}


#skill {
  font-weight:bold;
}



#email{
    float:right;
    margin-right: 20px;
	padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#contact
{
    margin-left:45%;
    padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
    }

a:hover {
    font-weight: bold;
}


#job-responsibilities
{
    padding: 1px;
    }
.job-title
{
    font-weight: bold;
    }
table
{
    border: 1px dashed black;
    }
td
{
    padding: 2px;
    border: 1px solid #E88741;
    }

#course-name
{
    font-weight:bold;
    color: black;
    }


#job-title
{
    height: 5px;
    }
.job-duration
{
    float:right;
    }
#heading
{
    font-weight:bold;
    }



.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;
}

.defaultlist li {
    display: list-item; 
    list-style-type:disc;
}
</style>

